/*--------------------------------------------------------------
# Home Section 
--------------------------------------------------------------*/
.homeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position-y: bottom;
  overflow-x: hidden;
}
.weatherSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 6rem;
}

.welcomeText {
  display: flex;
  justify-content: center;
}
.welcomeText h3 {
  display: flex;
  margin-bottom: 15px;
  color: #ffb03b;
  font-family: "Satisfy", sans-serif;
  font-size: 54px;
  font-weight: 700;
}
.welcomeText span {
  color: #303865;
}
.searchBox{
  display: flex;
  flex-direction: row;
}
.searchContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.searchInput {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 30vw;
  height: 37px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}
.searchInput:focus {
  outline: none;
}
.searchContainer i {
  position: absolute;
  right: 13px;
  top: 16px;
  cursor: pointer;
}
.location{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.location i{
  padding-top: 4px;
  font-size: 27px;
  color: white;
}
.location i:hover{
  color: rgb(192, 137, 26);
}

@media screen and (max-width: 480px) {
  .weatherSection {
    padding: 2rem;
  }
  .welcomeText {
    display: flex;
    justify-content: center;
    width: 82vw;
    margin-left: 5rem;
  }
  .welcomeText h3 {
    font-size: 32px;
    margin-bottom: 0px;
  }
  .welcomeText span {
    color: #303865;
  }
  .searchInput {
    width: 61vw;
  }
}

.timeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in-out;
  margin-top: 61px;
}
.timeContainer span {
  font-family: "Domine", serif;
  font-weight: 700;
  color: #f4f4f4;
  font-family: "Poppins", sans-serif;
}
.timeContainer h3 {
  font-family: cursive;
  font-weight: 600;
  color: #afbdde;
}

.loadingIcon {
  display: flex;
  position: absolute;
  top: 55%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(173deg, #4d5c8d, #b3eeff, #dad645, transparent);
  color: #ffffff;
  left: 48%;
}

.errorMessage {
  margin-top: 10px;
  color: #5a2a15;
  font-size: 18px;
  font-weight: bold;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  display: flex;
  background: transparent;
  color: #fff;
  font-size: 14px;
  padding: 5px 22px;
  width: 100vw;
  height: fit-content;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
}

.footer h3 {
  font-size: 30px;
  font-weight: 700;
  color: #ffb03b;
  padding: 0;
  margin: 0 0 5px 0;
  font-family: "Satisfy", sans-serif;
}

.footer p {
  font-style: italic;
  padding: 0;
  margin: 0 0 4px 0;
}

.footer .copyrightBox {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.footer .copyright {
  margin: 0 0 5px 0;
  color: #fce4bf;
}

.footer .credits {
  font-size: 19px;
  color: #fce4bf;
}
.footer .credits a {
  color: #ffb94f;
  font-weight: 400;
  font-family: "Satisfy", sans-serif;
  font-size: 20px;
}

.footer .socialLinks {
  margin: 0 0 2px 0;
}

.footer .socialLinks a {
  font-size: 18px;
  display: inline-block;
  background: #3a6552;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 18px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.5s;
}

.footer .socialLinks a:hover {
  background: #ffb03b;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 12px;
    z-index: 998;
    background: linear-gradient(45deg, #2f2e2e, transparent);
  }
  .footer .footerTitle{
    width: 100vw;
  }

  .footerTitle h3 {
    font-size: 18px;
  }
  .footerTitle p {
    font-size: 12px;
  }

  .footer .copyrightBox {
    padding: 0;
  }
  .footer .credits {
    font-size: 13px;
    width: 100vw;
  }
  .footer .credits a {
    font-size: 16px;
  }
  .footer .copyright {
    font-size: 13px;
  }
  .footer .socialLinks {
    width: 100vw;
    margin: 0;
  }
  .footer .socialLinks a {
    font-size: 12px;
    padding: 5px 0;
    width: 24px;
    height: 24px;
    transition: 0.5s;
  }
}
