/*--------------------------------------------------------------
# Weather Hour Component
--------------------------------------------------------------*/
.weatherHour{
  margin-top: 3rem;
}
.weatherBox {
  position: relative;
  top: 18px;
  z-index: 998;
  max-height: 300px;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(45deg, #f3f3f3, transparent);
  border-radius: 20px;
}

.weatherBox .active {
  background: rgb(105, 36, 36);
  color: green;
}

.timeSpan {
  display: flex;
  position: absolute;
  color: #303865;
  right: 30%;
  top: -6%;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  background: #ffb03b;
  border-radius: 5px;
}

.cardBody {
  display: flex;
  width: 31vw;
  justify-content: center;
  padding-top: 10px;
}
.weatherImage {
  display: flex;
}

.weatherTime {
  display: flex;
  padding: 0 6px;
  width: 29vw;
}
.weatherTime .slideContainer {
  display: flex;
  padding-top: 10px;
  width: 31vw;
  overflow-x: auto;
}
.slideContainer::-webkit-scrollbar {
  display: none;
}
.weatherTime .weatherTimeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 10px;
}
.weatherTime h5 {
  font-size: 25px;
  color: #1c1c57;
}
.weatherTime h6 {
  font-size: 12px;
  color: #403104;
}

@media screen and (max-width: 480px) {
  .weatherHour{
    margin-top: 0rem;
  }
  .weatherBox {
    position: relative;
    max-height: fit-content;
    width: 84vw;
  }
  .cardBody {
    width: inherit;
  }
  .windData {
    padding-left: 3.5rem;
  }
  .weatherImage {
    position: absolute;
    top: 40%;
    right: 9%;
    width: 34vw;
  }
  .weatherTime {
    width: 84vw;
  }
  .weatherTime .slideContainer {
    width: 71vw;
  }
  .timeSpan{
    right: 25%;
    top: -5%;
  }
  .weatherTime .weatherTimeItem {
    margin-left: 28px;
  }
}
