/*--------------------------------------------------------------
# Weather Hour Component
--------------------------------------------------------------*/
.weatherHour{
  margin-top: 3rem;
}
.weatherBox {
  position: relative;
  top: 18px;
  z-index: 998;
  max-height: fit-content;
  padding: 15px;
  transition: all 0.2s ease-in-out;
  transition: background-color 1000ms;
  background: linear-gradient(45deg, #f3f3f3, transparent);
  border-radius: 20px;
}

.weatherBox .active {
  background: rgb(105, 36, 36);
  color: green;
}

.timeSpan {
  display: flex;
  position: absolute;
  color: #303865;
  right: 30%;
  top: -6%;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  background: #ffb03b;
  border-radius: 5px;
}

.cardBody {
  display: flex;
  width: 31vw;
  justify-content: center;
  padding-top: 10px;
}
.cardBody .currentWeather h4 {
  font-size: 30px;
}
.cardBody .currentWeather h5 {
  font-size: 61px;
}
.weatherImage {
  display: flex;
}
.weatherImage h4{
  padding: 10px;
}

.weatherTime {
  display: flex;
  padding: 0 6px;
  width: 29vw;
}
.weatherTime .slideContainer {
  display: flex;
  padding-top: 10px;
  width: 31vw;
  overflow-x: auto;
}
.slideContainer::-webkit-scrollbar {
  display: none;
}
.weatherTime .weatherTimeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7px;
  border: 1px solid;
  border-radius: 5px;
  margin-left: 10px;
}
.weatherTime h5 {
  font-size: 25px;
  color: #1c1c57;
}
.weatherTime h6 {
  font-size: 12px;
  color: #403104;
}

@media screen and (max-width: 480px) {
  .weatherHour{
    margin-top: 0;
  }
  .weatherBox {
    position: relative;
    height: fit-content;
    width: 66vw;
    padding: 10px;
  }
  .timeSpan{
    right: 18%;
    top: -5%;
  }
  .cardBody {
    width: inherit;
  }
  .cardBody .currentWeather h4 {
    font-size: 25px;
  }
  .cardBody .currentWeather h5 {
    font-size: 23px;
    font-weight: bold;
  }
  .cardBody .currentWeather p{
    font-size: 11px;
  }
  .windData {
    padding-left: 3.5rem;
    font-size: 11px;
  }
  .weatherImage {
    position: absolute;
    top: 38%;
    right: 6%;
    width: 34vw;
  }
  .weatherImage img{
    width: 70px;
    height: 70px;
  }
  .weatherImage h4{
    padding: 0 5px;
    font-size: 19px;
  }
  .weatherTime {
    width: 63vw;
  }
  .weatherTime .slideContainer {
    width: 53vw;
  }
  .weatherTimeItem h5 {
    font-size: 18px;
  }
  .weatherTimeItem h6 {
    font-size: 11px;
  }
  .weatherTime .weatherTimeItem {
    margin-left: 17px;
    padding: 4px 8px;
  }
}
